CompileFlags:
  Add:
    - "-stdlib=libc++"
    - "-idirafter"
    - "C:/msys64/ucrt64/include"

Diagnostics:
  UnusedIncludes: Strict
Completion:
  AllScopes: true
Index:
  Background: Build
Hover:
  ShowAKA: true
